# Node.js
backend/node_modules/

# Environment variables
backend/.env

# Logs
backend/*.log

# React
frontend/node_modules/
frontend/dist/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# npm
npm-debug.log*